<h1>Welcome <%=current_user.username%></h1>

<p>We are currently working on your account.</p>
<h3>Account Balance: <%=current_user.balance%></h3>
<p>Make a deposit or withdraw below:</p>
<form method="post" action="/deposit">
    <input type="integer" name="amount" placeholder="Deposit" /><input type="submit" value="Deposit"/>
</form>
<form method="post" action="/withdraw">
    <input type="integer" name="amount" placeholder="Withdraw" /><input type="submit" value="Withdraw"/>
</form>

<p><a href="/logout">Log Out</a></p>
